#### Load and Inspect the Data

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('C:/Users/AHVINAV/ML-Python/ML-Assignment/ML case Study.csv',header = 0)

In [3]:
df.head()

,College,City,Role,Previous CTC,Previous job change,Graduation Marks,EXP (Month),CTC
0,SVNIT Surat,Asansol,Manager,55523,3,66,19,71406.58
1,NIT Bhopal,Ajmer,Executive,57081,1,84,18,68005.87
2,"IEM, Kolkata",Rajpur Sonarpur,Executive,60347,2,52,28,76764.02
3,"KIIT, Bhubaneswar",Ajmer,Executive,49010,2,81,33,82092.39
4,DTU,Durgapur,Executive,57879,4,74,32,73878.10

In [4]:
colleges_df = pd.read_csv('C:/Users/AHVINAV/ML-Python/ML-Assignment/Colleges.csv',header = 0)

In [5]:
colleges_df.head()

          Tier 1          Tier 2                                      Tier 3
0     IIT Bombay  IIIT Bangalore  Ramaiah Institute of Technology, Bengaluru
1      IIT Delhi      IIIT Delhi                      TIET/Thapar University
2  IIT Kharagpur          IGDTUW                         Manipal Main Campus
3     IIT Madras     NIT Calicut                                 VIT Vellore
4     IIT Kanpur   IIITM Gwalior                             SRM Main Campus

In [6]:
cities_df = pd.read_csv('C:/Users/AHVINAV/ML-Python/ML-Assignment/cities.csv',header = 0)

In [7]:
cities_df.head()

  Metrio City non-metro cities
0      Mumbai         Dehradun
1       Delhi         Durgapur
2     Kolkata          Asansol
3     Chennai         Rourkela
4   Bangalore        Kozhikode

#### Data Preprocessing

##### Convert College Name to numerical values based on tiers from colleges_df

In [8]:
Tier1= colleges_df["Tier 1"].tolist()
Tier2= colleges_df["Tier 2"].tolist()
Tier3= colleges_df["Tier 3"].tolist()

In [9]:
#Collge_name Taken as variable
for college_name in df["College"]:
    if college_name in Tier1:
        df["College"] = df["College"].replace(college_name, 1)
    elif college_name in Tier2:
        df["College"] = df["College"].replace(college_name, 2)
    elif college_name in Tier3:
        df["College"] = df["College"].replace(college_name, 3)

C:\Users\AHVINAV\AppData\Local\Temp\ipykernel_8888\1968542259.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["College"] = df["College"].replace(college_name, 2)

In [10]:
df.head()

,College,City,Role,Previous CTC,Previous job change,Graduation Marks,EXP (Month),CTC
0,2,Asansol,Manager,55523,3,66,19,71406.58
1,2,Ajmer,Executive,57081,1,84,18,68005.87
2,3,Rajpur Sonarpur,Executive,60347,2,52,28,76764.02
3,3,Ajmer,Executive,49010,2,81,33,82092.39
4,1,Durgapur,Executive,57879,4,74,32,73878.10

##### Convert City to numerical values based on cities_df

In [11]:
metro_cities= cities_df["Metrio City"].tolist()
non_metro_cities= cities_df["non-metro cities"].tolist()

In [12]:
# city_type Taken as variable
for city_type in df["City"]:
    if city_type in metro_cities:
        df["City"] = df["City"].replace(city_type,1)
    elif city_type in non_metro_cities:
        df["City"] = df["City"].replace(city_type,0)

C:\Users\AHVINAV\AppData\Local\Temp\ipykernel_8888\1756832592.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["City"] = df["City"].replace(city_type,0)

In [13]:
df.head()

,College,City,Role,Previous CTC,Previous job change,Graduation Marks,EXP (Month),CTC
0,2,0,Manager,55523,3,66,19,71406.58
1,2,0,Executive,57081,1,84,18,68005.87
2,3,0,Executive,60347,2,52,28,76764.02
3,3,0,Executive,49010,2,81,33,82092.39
4,1,0,Executive,57879,4,74,32,73878.10

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1589 entries, 0 to 1588
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   College              1589 non-null   int64
 1   City                 1589 non-null   int64
 2   Role                 1589 non-null   object
 3   Previous CTC         1589 non-null   int64
 4   Previous job change  1589 non-null   int64
 5   Graduation Marks     1589 non-null   int64
 6   EXP (Month)          1589 non-null   int64
 7   CTC                  1589 non-null   float64
dtypes: float64(1), int64(6), object(1)
memory usage: 99.4+ KB

* There is no missing Values

##### Create dummy variables for Role

In [15]:
df = pd.get_dummies(df,drop_first = True,dtype='int')

In [16]:
df.head()

,College,City,Previous CTC,Previous job change,Graduation Marks,EXP (Month),CTC,Role_Manager
0,2,0,55523,3,66,19,71406.58,1
1,2,0,57081,1,84,18,68005.87,0
2,3,0,60347,2,52,28,76764.02,0
3,3,0,49010,2,81,33,82092.39,0
4,1,0,57879,4,74,32,73878.10,0

##### Identify and handle outliers using IQR method

In [17]:
df.describe()

,College,City,Previous CTC,Previous job change,Graduation Marks,EXP (Month),CTC,Role_Manager
count,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000
mean,1.975456,0.514160,55518.453744,2.528634,59.855255,39.044682,75353.278798,0.206419
std,0.838330,0.499957,6655.218445,1.123918,14.935139,14.108875,12587.288237,0.404862
min,1.000000,0.000000,36990.000000,1.000000,35.000000,18.000000,53020.320000,0.000000
25%,1.000000,0.000000,50518.000000,2.000000,46.000000,26.000000,66902.350000,0.000000
50%,2.000000,1.000000,55291.000000,3.000000,60.000000,39.000000,73028.670000,0.000000
75%,3.000000,1.000000,60109.000000,4.000000,73.000000,51.000000,80588.670000,0.000000
max,3.000000,1.000000,77911.000000,4.000000,85.000000,64.000000,123416.990000,1.000000

In [18]:
# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
# Calculate IQR (Interquartile Range)
IQR = Q3 - Q1

In [19]:
IQR

College                    2.00
City                       1.00
Previous CTC            9591.00
Previous job change        2.00
Graduation Marks          27.00
EXP (Month)               25.00
CTC                    13686.32
Role_Manager               0.00
dtype: float64

* Values below Q1 - 1.5 * IQR or above Q3 + 1.5 * IQR are considered outliers.

In [20]:
# Remove outliers
df = df[~((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).any(axis=1)]

#### Test-Train Split

In [21]:
# Dependent- Independent Data split (X-y Split)
X = df.drop('CTC', axis=1)
y = df['CTC']

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=42)

In [23]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(1003, 7) (251, 7) (1003,) (251,)

### Model Selection

#### Linear Regression

In [24]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [25]:
y_test_pred=lm.predict(X_test)

In [26]:
from sklearn.metrics import mean_squared_error,r2_score
r2_lm=r2_score(y_test,y_test_pred)
mse_lm=mean_squared_error(y_test, y_test_pred)

In [27]:
r2_lm

0.14474973158883364

In [28]:
mse_lm

61177294.17351023

#### Ridge regression and Lasso

In [29]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(X_train)
X_train_s=scaler.transform(X_train)
X_test_s=scaler.transform(X_test)

##### Ridge

In [30]:
from sklearn.linear_model import Ridge
lm_r=Ridge(alpha=0.5)
lm_r.fit(X_train_s,y_train)
y_test_s_pred=lm_r.predict(X_test_s)
r2_r=r2_score(y_test,y_test_s_pred)
mse_r=mean_squared_error(y_test,lm_r.predict(X_test_s))

##### Lasso

In [31]:
from sklearn.linear_model import Lasso
lm_l=Lasso(alpha=0.5)
lm_l.fit(X_train_s,y_train)
r2_L=r2_score(y_test,lm_l.predict(X_test_s))
mse_L=mean_squared_error(y_test,lm_l.predict(X_test_s))

In [32]:
r2_L

0.14477423740173134

In [33]:
mse_L

61175541.23711257

#### Decision Tree Regression

In [34]:
from sklearn import tree
regtree = tree.DecisionTreeRegressor(random_state=42)
regtree.fit(X_train, y_train)
y_test_predict_t = regtree.predict(X_test)
mse_tree= mean_squared_error(y_test, y_test_predict_t)
r2_tree=r2_score(y_test, y_test_predict_t)

In [35]:
mse_tree

94063834.15402828

In [36]:
r2_tree

-0.3149996333582561

#### Random Forest Regression

In [37]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

In [38]:
forest_model = RandomForestRegressor(random_state=42)
forest_model.fit(X_train, y_train)
y_pred_forest = forest_model.predict(X_test)
mse_forest = mean_squared_error(y_test, y_pred_forest)
r2_forest = r2_score(y_test, y_pred_forest)

In [39]:
mse_forest

56015355.82394434

In [40]:
r2_forest

0.21691292904027815

#### Gradient Boosting Regression

In [41]:
gb_model = GradientBoostingRegressor(random_state=42)
gb_model.fit(X_train, y_train)
y_pred_gb = gb_model.predict(X_test)
mse_gb = mean_squared_error(y_test, y_pred_gb)
r2_gb = r2_score(y_test, y_pred_gb)

In [42]:
mse_gb

62374919.342925735

In [43]:
r2_gb

0.12800709428464752

In [44]:
# Compare the performance of different models
models = pd.DataFrame({
    'Model': ['Linear Regression','Ridge','Lasso', 'Decision Tree', 'Random Forest', 'Gradient Boosting'],
    'MSE': [mse_lm,mse_r,mse_L,mse_tree, mse_forest, mse_gb],
    'R-squared': [r2_lm,r2_r, r2_L, r2_tree, r2_forest, r2_gb]
})
print(models)

               Model           MSE  R-squared
0  Linear Regression  6.117729e+07   0.144750
1              Ridge  6.117462e+07   0.144787
2              Lasso  6.117554e+07   0.144774
3      Decision Tree  9.406383e+07  -0.315000
4      Random Forest  5.601536e+07   0.216913
5  Gradient Boosting  6.237492e+07   0.128007

* Understand the Problem Statement: This is a regression task to predict the salary of newly hired employees based on various variables such as  College Tier,City type,Role,Previous CTC , Previous job change	,Graduation Marks,	EXP (Month),CTC.
   * ML_case_study.csv: Main dataset containing employee details
   * Colleges.csv:  tiers
   * Cities.csv: metro/non-metro
* Approches:
    * Data Preprocessing
        * Convert categorical data into numerical data.
        * Create dummy variables for categorical features.
        * Handle missing values.
        * Identify and handle outliers.
     * Training the data
         * Dependent- Independent Data split
         *Test-Train Splitt        
     *  Model Selection & Evaluation:
         * Compare the performance of different models: Linear Regression, Ridge and Lasso,Decision Tree Regressor, Random Forest                                 Regressor, Gradient Boosting Regressor.
         * Evaluate models using appropriate metrics ( Mean Squared Error, R-squared).
*  ML model options: Linear Regression, Ridge and Lasso,Decision Tree Regressor, Random ForestRegressor, Gradient Boosting Regressor
*  Model Performance:
    * Best Model: Based on your previous results, Random Forest seems to perform best with the lowest MSE and highest R-squared. This indicates it          captures complex patterns in the data better than other models.